# Python
__pycache__/
*.pyc
venv/
.venv/

data.csv
pages/1_Share_Event.py
menu.py
secrets
random_name_generator.py
pages/
app.py
.env
test.py

# Streamlit secrets
.streamlit/secrets.toml

# Local files
.DS_Store
/seating.html
