numpy~=2.2.6
pillow~=12.1.0
pip~=23.0.1
pytz~=2025.2
setuptools~=65.5.0
pandas~=2.3.3
python-dateutil~=2.9.0.post0
qrcode~=8.2
tzdata~=2025.3
six~=1.17.0
GitPython~=3.1.46
gitdb~=4.0.12
attrs~=25.4.0
protobuf~=6.33.2
tornado~=6.5.4
Jinja2~=3.1.6
toml~=0.10.2
typing_extensions~=4.15.0
smmap~=5.0.2
charset-normalizer~=3.4.4
altair~=6.0.0
jsonschema~=4.26.0
narwhals~=2.15.0
pyarrow~=22.0.0
packaging~=25.0
referencing~=0.37.0
MarkupSafe~=3.0.3
pydeck~=0.9.1
certifi~=2026.1.4
urllib3~=2.6.3
idna~=3.11
tenacity~=9.1.2
click~=8.3.1
streamlit~=1.52.2
cachetools~=6.2.4
blinker~=1.9.0
jsonschema-specifications~=2025.9.1
boto3~=1.42.24